@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css";

nav {
  background-color: inherit;
  box-shadow: none;
  line-height: 2em;
}
.login-sign-up-container {
  display: none;
  background-color: $c-gray-light;
  position: fixed;
  top: 9em;
  width: 80%;
  height: 75vh;
  z-index: 1001;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
}

.login,
.sign-up {
  display: none;
  width: 100%;
  height: 100%;
  h2 {
    font-size: 2em;
  }
  form {
    padding-bottom: 1em;
    .row {
      width: 50%;
      margin-bottom: 0;
      div {
        height: 3em;
        position: relative;
        left: 25%;
      }
    }

    #submit,
    #register {
      margin: 0;
      padding: 0;
      border: none;

      display: block;
      margin-inline: auto;
      width: 145px;
      line-height: 1.5em;
      margin-top: 3em;
      margin-bottom: 0.75em;
      border-radius: 1.5em;
      background-color: $c-red-dark;
      padding: 0.5em 2em;
      white-space: initial;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      font-size: 0.8em;
      color: $c-gray-light;
      font-weight: bold;

      &:hover {
        background-color: $c-red-light;
      }
    }
  }

  span {
    display: block;
    font-size: 0.9em;
  }

  .register-me {
    display: block;
    margin-top: 1.5em;
    font-size: 0.9em;

    i {
      position: relative;
      top: 0.25em;
      padding-left: 0.25em;
    }

    &:hover {
      font-size: 0.95em;
    }
  }

  .close-login,
  .close-register {
    margin: 0;
    padding: 0;
    border: 0;

    position: absolute;
    right: 1em;
    top: 1em;

    i {
      font-size: 3em;
      cursor: pointer;

      &:hover {
        color: $c-red-light;
        font-size: 3.5em;
        transition: font-size 0.7s;
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
