extends main

block content
    section(class="movie-details")
        div
            h1(class="movie-title") #{movie.title}
            p(class="movie-description")!= marked(movie.intro)
        div
        img(src=movie.image.url, class="movie-poster")
        
