extends main.pug

block content
    main
        section(class="open")
            h2 Öppettider
            ul(class="opentimes")
                li Samma öppettider alla dagar året om!
                li Måndag till fredag: 13.30-02.00
                li Lördag och söndag: 12.30-02.00
            h3 Telefontider
            p Vi tillgodoser inte extroverters behov här, använd mail eller dm'a oss. Vi lever faktiskt inte på stenåldern längre...
            h2 Kontakt
            ul(class="contact")
                li Det Kassa Folket: Biljettfrågor - 
                    a(href="mailto:info@tomtensbiograf.öl") info@tomtensbiograf.öl
                li Lill Nissan: Första Verksamhets Nissan - 
                    a(href="mailto:nisse.pisse@tomtensbiograf.öl") nisse.pisse@tomtensbiograf.öl
                li Hugg Nissan: Operations Chef - 
                    a(href="mailto:blodigt@tomtensbiograf.öl") blodigt@tomtensbiograf.öl
                li Ren Nisse: Andre Tvätt-Marsalk och Tredje Putsare av Rudolf Bollar - 
                    a(href="mailto:ren.nisse@tomtensbiograf.öl") ren.nisse@tomtensbiograf.öl
                li Benny Nisse: Skuld Indrivare - 
                    a(href="mailto:benknackar.benny@tomtensbiograf.öl") benknackar.benny@tomtensbiograf.öl
            h3 Vill du hyra Nissar och Nissor för svart arbete eller anordna svart klubb?
            p Hör av dig till oss, vi lurar skattemasen med bluffakturor och hot!
            ul(class="rent")
                li Beskriv arbetsuppgifterna:
                li Hur många Nissar och Nissor förväntas omkomma?
                li Kommer ni själva ta hand om deras kadaver?
                li Vilken sorts bestraffning tänker ni använda?
                li Har ni eget "tomte-stofft" eller vill ni köpa i bulk från oss?
            p Du kan mejla Bulvan Nisse via 
                a(href="mailto:bulvan.mulvad@tomtensbiograf.öl") bulvan.mulvad@tomtensbiograf.öl