extends main.pug

block content
    main
        section(class="placeholder")
            img(src="static/img/logo.svg", alt="logo")
            h2 Tomten är upptagen! Ho ho ho
            |Tomten har haft mycket att göra under julen, det har varit ovanligt många olydiga elakingar i år, både stora
            |och små.
            |Så tomten har varit tvungen att dela ut hårda klappar med buller och bång. Därför har hans biograf hamnat efter
            |och de små tomtenissarna har inte hunnit med att få färdigt allt som stått på tomtens önskelistan om hans egna
            |biograf. Lyssna på vad tomten har att säga till de som funderar på om de ska vara snälla i år eller inte.
            button(id="bad-santa-btn") Goda råd från Tomten
            audio(id="bad-santa" controls autoplay)
                source(id="one", src="static/audio/1.mp3", type="audio/mpeg")
                |Your browser does not support the audio element.

append scripts
    script(src='/static/js/badSanta.js')
